:root{
    --text-color: #f5f5f5;
    --background-color: #334D5C;
    --accent-color: #EFC94C;
    --lec-color: #E9EAED;
}

body{
    margin: 0;
    font-family: 'SLEIGothicTTF';
    background-color: whitesmoke;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 4px 10%;
    margin:0;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar__logo{
    font-size: 24px;
    color: var(--text-color);
    margin: 0;
}

.navbar__logo i {
    color: var(--accent-color);
}

.navbar__mainmenu{
    padding-left: 0;
    margin: 0;
}

.navbar__usermenu{
    margin: 0;
    color: var(--text-color);
}

.navbar__logo li{
    padding: 3px 8px;
}

.navbar__mainmenu li{
    padding: 3px 25px;
}

.navbar__usermenu li{
    padding: 3px 8px;
    font-size: 15px;
}

.navbar__usermenu i {
    font-size: 24px;
}

.navbar__usermenu a{
    display: flex;
}

.container{
    display: flex;
    background-color: whitesmoke;
    padding: 30px 10%;
}

.contain_lecture{
    display: flex;
    justify-content: space-between;
}

.lecture{
    width: 400px;
    height: 600px;
    margin: 15px 10px;
    border-radius: 5px;
    background-color: var(--lec-color);
}

.contain_talk{
    margin-left: 50px;
}

@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 1000px) {
    
}